input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"],
a.button {
    background-color: #36A0FF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s;
}

a.button {
    text-align: left;
    padding: 10px 15px;
}

input[type="submit"]:hover,
a.button:hover {
    background-color: #58ff36d5; 
}
